.App {
  align-items: center;
  background-color: #999999;
  display: flex;
  height: 100vh;
  justify-content: center;
  text-align: center;
  width: 100vw;
}

.Calculator-app {
  align-items: center;
  background-color: #222222;
  border-radius: 12px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  height: 600px;
  justify-content: center;
  width: 350px;
}

.Titlebar-container {
  align-items: center;
  background-color: #333333;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  display: flex;
  height: 48px;
  justify-content: center;
  width: 100%;
}

.Header-container {
  align-items: center;
  background-color: #222222;
  display: flex;
  height: calc(30% - 48px);
  justify-content: center;
  width: 100%;
}

.Body-container {
  align-items: center;
  background-color: #333333;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  display: flex;
  height: 70%;
  justify-content: center;
  width: 100%;
}